@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Helping Hand</h1>
    <p class="Get Connected & Get Help."</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create Profile(Customer or Provider)</h2>
        <p>
            After a user creates an account they will be taken to the appropriate page to create their profile.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Create Profile &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add / Search For Services</h2>
        <p>After creating a profile the user will add services(providers) or search for available services(customers).</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Services(Add or Search) &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>IDK</h2>
        <p>NOt Sure Yet.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Do Something? &raquo;</a></p>
    </div>
</div>